body{
    padding: 0;
    margin: 0;

    background-image:url(/hamburguer_pag/img/hamburguer.png);/**irei trocar para um imagen de hamburguer **/
    background-size: 100%;
    background-repeat: no-repeat; /** o -repeat com o valor no-repeat vai evitar que a imagen de backgrund **/

    color:white;
}



/** menu**/
.menu ul{
    list-style: none;
    margin-top: -25px;
}

.menu{
    position: fixed;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    padding: 2px 10px;
    display: inline-block;
    margin: 5px;

    opacity: 0.9;
    background-color: slategray;
    color: #333;
    text-decoration: none;

    border-radius: 5px;
}

.menu ul li a:hover{
    color:white;
    transition: 0.5s;
}


/** home **/

main h3{
    margin-left:47%;
}

.homer {
    margin: 1.5rem;
    padding: 0.3rem;
    margin-left: 25%;


    display: flex;
    justify-content: space-between;
    background-color:rgba(128, 128, 128, 0.534);/**irei trocar para um imagen de hamburguer **/

    color: black;

    width: 50%;
    height: 350px;

    border-radius: 50px ;

    text-align:justify;
    
}

.homer h3{
    margin-top: -1.2rem;
    margin-left: 45%;
}




/** receitas **/
#receitas div{
    margin: 0.5rem;
    padding: 1rem;
    margin-left: 3%;

    display: flex;

    width: 90%;


    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.397);
    
    

    border-radius: 5px ;
}

#receitas h3{
    margin-left:47%;
    padding-top: 45px;
    color: black;
}

.receitas_post{
    background-color: rgba(208, 255, 0, 0.726);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color:black;
}

section h4{
    margin-top: -22px;
}




/** footer **/
footer{ 
    display: flex;

    background-color: rgb(110, 126, 141);
    opacity: 0.9;
}
footer a{
    padding: 5px;
    position: absolute 5px;
}

footer a:hover{
    color:white;
    transition: 0.5s;
}
